
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;

}
.logo {
    float: left;
    margin-left: 10px;
}

nav {
    width: 100%;
    margin: 0 ;
    display: flex;
    background: #fcab3a;
    color: #fff;
    height: 65px;
}


nav ul {
    list-style: none;
    margin-right: 10px;
   
}

nav ul li {
    display: inline;
    margin-left: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    padding: 10px;
}

nav ul li a:hover {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    background-color: #cd7604;
}