
footer {
    background-color: #fcab3a;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.contact-info, .social-media {
    flex: 1;
    min-width: 250px;
}

.contact-info h4, .social-media h4 {
    margin-bottom: 10px;
    font-size: 1.2em;
}

.contact-info p {
    margin: 5px 0;
}

.social-media a {
    margin: 0 10px;
    display: inline-block;
    transition: transform 0.3s;
}

.social-media a:hover {
    transform: scale(1.1);
}

.social-media img {
    width: 24px;
    height: 24px;
}