body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
   
}


* {
  
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}
.cont {
    margin: 10%;
    overflow: hidden;
    position: relative;
    width: 900px;
    height: 560px;
    background: linear-gradient(to top,rgba(0,0,0,0.3)50%,rgba(0,0,0,0.3)50%),url(../images/BC.png);
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}
.forum {
    margin-top: 10%;
    position: relative;
    width: 450px;
    height: 80%;
    padding: 30px;
    background-color: #fff;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
}

span{
    float: left;
}
form h1 {
    display: block;
    text-align: center;
    margin-bottom: 10px;
    color: black;
}
input {
    display: block;
    border: 1px solid #fcab3a;
    width: 95%;
    padding: 10px;
    margin: 20px;
    border-radius: 10px;
}

.btn {
    display: block;
   
    background-color: #fcab3a;
    border-radius: 10px;
    border: none;
    font-size: 20px;
   
    
}
.btn:hover {
    background: rgba(234, 222, 217, 0.582);
    color: black;
    cursor: pointer;
    font-size: 20px;
}
i{
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    
    text-align: center;
    
}
.link {
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    
    text-align: center;
    color: rgb(7, 7, 7);
}
a {
    text-decoration: none;
    color: #fcab3a;
    font-size: 17px;
}


.cont p {
    position: absolute;
   margin-top: 6px;
    left: 20px;
    width: 80%;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    color: #888;
    font-size: 20px;
    line-height: 1.5;
}
