body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


main {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.hero {
    background: linear-gradient(to top,rgba(0,0,0,0.3)50%,rgba(0,0,0,0.3)50%),url('../images/BC.png') no-repeat center center/cover;
    color: #FFFFFF;
    text-align: center;
    padding: 100px 20px;
}

.hero-text {
    max-width: 600px;
    margin: 0 auto;
}

.hero h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.2em;
    margin-bottom: 30px;
}

.btn-primary {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.1em;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.services, .projects, .testimonials, .cta {
    margin: 40px 0;
    text-align: center;
}

.service-container, .project-container, .testimonial-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.service-item, .project-item, .testimonial-item {
    flex: 1;
    min-width: 250px;
    max-width: 300px;
    margin: 20px;
}

.service-item img, .project-item img {
    width: 100%;
    border-radius: 5px;
}

.service-item h3, .project-item h3 {
    margin-top: 15px;
    font-size: 1.5em;
}

.testimonial-item p {
    font-style: italic;
    font-size: 1.1em;
}

.testimonial-item h4 {
    margin-top: 10px;
    font-size: 1.2em;
}

.cta h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.btn-secondary {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.1em;
}

.btn-secondary:hover {
    background-color: #007BFF;
}
